<div class="container my-5">

    <h2>Login  Now :</h2>
    <!-- <h3>{{loginForm.get('name')?.errors | json}}</h3> -->

    <div *ngIf="apiError" class="alert alert-danger">
        {{apiError}}
    </div>
    <form action="" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control mb-2">

        <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || isNotValidForm)" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('required')"  class="mb-0">Email Is Required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')" class="mb-0">Email Invaild</p>
        </div>

        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" class="form-control mb-2">

        <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || isNotValidForm)" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required')"  class="mb-0">Password Is Required</p>
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="mb-0">Password pattern wrong</p>
        </div>

        
        <button  class="btn bg-main text-white ms-auto d-block">
            <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Login</span>
        </button>

    </form>
 </div>
