<div class="container">
    <div class="row">
        <div class="col-md-2" *ngFor="let product of allProduct">
            <div class="product px-2 py-4">
                <img [src]="product.imageCover" class="w-100" alt="">
                <p class="text-main">{{product.category.name}}</p>
                <h2 class="h6">{{product.title.split(" ").splice(0,2).join(" ")}}</h2>
                <div class="d-flex justify-content-between">
                    <span>{{product.price}} EGP</span>
                    <div>
                        <i class="fa fa-star rating-color"></i>
                        {{product.ratingsAverage}}
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
